In [1]:
import re
from nltk.corpus import stopwords
import pandas as pd
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import unidecode
import numpy as np

In [2]:
# import nltk
# nltk.download('stopwords')

In [3]:
df = pd.read_csv('imdb_master.csv', sep=',', encoding ='ISO-8859-1')

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,type,review,label,file,reviews_sem_acentos,reviews_pre_processadas
0,0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt,Once again Mr. Costner has dragged out a movie...,mr costner dragged movie far longer necessary ...
1,1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt,This is an example of why the majority of acti...,example majority action films generic boring r...
2,2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt,"First of all I hate those moronic rappers, who...",first hate moronic rappers could nt act gun pr...
3,3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt,Not even the Beatles could write songs everyon...,even beatles could write songs everyone liked ...
4,4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt,Brass pictures (movies is not a fitting word f...,brass pictures movies fitting word really some...

In [5]:
def pre_processamento_de_linha(texto):
     
    # Remove tudo que não forem letras
    letters_only_text = re.sub("[^a-zA-Z]", " ", texto)

    # Converte palavras para minúsculo e as separa
    words = letters_only_text.lower().split()

    # Remove stopwords
    set_stopwords = set(stopwords.words("english"))
    meaningful_words = [w for w in words if w not in set_stopwords]
    
    # Stemmiza as palavras
    # ps = PorterStemmer()
    # stemmed_words = [ps.stem(word) for word in meaningful_words]
    
    # Transforma set de palavras em lista
    texto_limpo = " ".join(meaningful_words)

    return texto_limpo

In [6]:
df['reviews_sem_acentos'] = [unidecode.unidecode(texto) for texto in  df['review']]

In [7]:
df['reviews_pre_processadas'] = df['reviews_sem_acentos'].apply(lambda linha : pre_processamento_de_linha(linha))

In [8]:
df.to_csv('imdb_master.csv')

In [9]:
reviews_pre_processadas = df['reviews_pre_processadas']

In [10]:
def tokenizar(sentencas):
    words = []
    for sentenca in sentencas:
        words.extend(sentenca)
        words = sorted(list(set(words)))
    return words

In [11]:
palavras_tokenizadas = tokenizar(reviews_pre_processadas[:10])

In [12]:
palavras_tokenizadas

[' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [13]:
# def gerar_bag_of_words(sentencas):        
    # vocab = tokenizar(sentencas)
    # matriz = []
    # print("Lista de palavras dos textos: \n{0} \n".format(vocab));
    # for sentenca in sentencas:             
        # bag_vector = np.zeros(len(vocab))        
        # for w in sentenca:            
            # for i,word in enumerate(vocab):                
                # if word == w:                     
                    # bag_vector[i] += 1
                    
            # matriz.append(bag_vector)
        # print("{0}\n{1}\n".format(sentenca,np.array(bag_vector)))
    # # return pd.DataFrame(list(matriz)).T
    # return matriz

In [14]:
#count_vectorizer = TfidfVectorizer(stop_words='english')
count_vectorizer = TfidfVectorizer()
matriz_esparsa = count_vectorizer.fit_transform(reviews_pre_processadas[0:1000])

In [15]:
doc_term_matrix = matriz_esparsa.todense()

df = pd.DataFrame(doc_term_matrix, 
                  columns=count_vectorizer.get_feature_names(), 
                  index= df[0:1000].index)
df

,aa,aaja,aap,aaps,aaron,abandon,abandoned,abandoning,abandons,abbot,...,zones,zontar,zoo,zoom,zooming,zooms,zubeidaa,zucker,zulu,zzzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
from sklearn.metrics.pairwise import cosine_similarity
similaridade =  pd.DataFrame(cosine_similarity(df.loc[[0]], df))

In [61]:
similaridade = similaridade.transpose()

In [62]:
similaridade.head()

          0
0  1.000000
1  0.026242
2  0.039598
3  0.040534
4  0.016972

In [64]:
similaridade = similaridade.rename(columns={similaridade.columns[0]: "similaridade"}, errors='raise')

In [65]:
similiaridade.sort_values(by=similiaridade.columns[0], ascending=False)

     similaridade
0        1.000000
975      0.114424
665      0.068142
992      0.067986
431      0.061703
..            ...
950      0.000000
816      0.000000
833      0.000000
467      0.000000
944      0.000000

[1000 rows x 1 columns]

In [74]:
similaridade_aceitavel = similaridade[similiaridade.similaridade>0.8]

In [75]:
similaridade_aceitavel.head()

   similaridade
0           1.0